* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 100%;
  color: #000;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#navlinks {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

#logo {
  height: 40px;
}

header {
  /* border-bottom: 1px solid black; */
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

#navigation {
  display: none;
}

#burger {
  background-color: #fff;
  border: none;
}

#intro {
  background-image: url('img/intro.jpg');
  height: 100vh; /* vh bedeutet viewport height */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.button {
  background-color: white;
  color: #374a67;
  border-radius: 5px;
  border-color: #374a67;
  border-style: solid;
  border-width: 2px;
  /* border: 1px solid #374a67*/
  padding: 15px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
}

.card .button {
  background-color: #374a67;
  color: #fff;
  display: block;
  margin: 1rem;
  /* width: calc(100% - 2rem); */
}

/* Der Pseudo-Selektor hover verändert Werte, wenn der Nutzer mit der Maus über einem Element schwebt*/
.button:hover {
  color: #fff; /* rgb(255,255,255)*/
  background-color: #374a67;
}

.card .button:hover {
  background-color: #fff;
  color: #374a67;
}

h3 a,
p a {
  text-transform: none;
}

p a {
  color: #828282;
  font-weight: normal;
  padding: 1rem;
}

/* responsive Images */
.card img {
  width: 100%;
}

.card {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  overflow: hidden;
}

h2 {
  text-align: center;
}

aside {
  background: #04122b;
  color: white;
  text-align: center;
  padding: 3rem 1rem;
}

/* Media Query für größere Bildschirme */
@media (min-width: 960px) {
  #navigation {
    display: block;
  }

  #burger {
    display: none;
  }

  /* stellt die li nebeneinander auf dem großen Gerät*/
  #navlinks {
    display: flex;
  }

  #navlinks li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .row {
    display: flex;
  }
}
